language: java

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: target/macro-keys-server.jar
  skip_cleanup: true
  on:
    tags: true

addons:
  sonarcloud:
    organization: "simonecorazza-github"
    token: $SONAR_TOKEN
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar